.disabledList{
    
        pointer-events:none; 
        opacity:0.6;        
    
}

#todoList{
        border: 10px solid #cc2e8d;
        border-radius: 1rem;
}

#mainnavbar{
        background: #cc2eb2;
}